// $dark: rgb(0, 0, 0);
// $light: rgb(255, 255, 255);

// $dark: rgb(35 48 99);
// $light: rgb(246 255 192);

$dark1: #0F0E0D;
$dark2: #221F22;
$dark3: #4B4538;

$light1: #fff;
$light2: #cebf92;
$light3: #d79e00;