@import './colors.scss';
@import './utilities.scss';

html {
  background: $dark1;
  overflow-y: scroll;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
}

.canvasHolder {
  position: fixed;
  z-index: -1;
  left: 0px;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: difference;
}

body {
  color: $light1;
  min-height: 100vh;
  overflow-y: clip;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
  mix-blend-mode: difference;
}

h1 {
  margin: 0px 0px;
  font-size: clamp(3rem, 6vw, 5rem);
  line-height: clamp(3rem, 6vw, 5rem);
  max-width: 400px;
  mix-blend-mode: difference;
}

h2 {
  mix-blend-mode: difference;
  font-size: clamp(1.5rem, 5vw, 2rem);
  line-height: clamp(1.5rem, 5vw, 2rem);
  margin: 0px 0px;
  padding: 0px 0px;
}

h3 {
  background: $light3;
  color: $dark1;
  width: fit-content;
  padding: 0px 8px;
  margin: 0.5rem 0;
}

ul {
  padding-inline-start: 16px;
  mix-blend-mode: difference;
}

li,
h4 {
  line-height: 1.5rem;
}

hr {
  height: 1px;
  background: linear-gradient(0.25turn, transparent, $light1, transparent);
  mix-blend-mode: difference;
  border: 0px;
  margin: 0px;
}

@media (max-width: 762px) {
  .d-sm-none {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  html {
    background: $light1;
  }
}