@import './colors.scss';

.main {
    font-family: var(--zen-font);
    max-width: 1400px;
    margin: 0px auto;
    padding: 24px 48px;
    overflow-y: clip;
}

.holder {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;

    .wavy {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: end;
        gap: 2rem;
        background-image: url('/wave.svg');
        background-size: 600px 300px;
        background-repeat: repeat-x;
        width: 50%;
        height: clamp(6rem, 18vw, 21rem);
        max-width: 50vw;
        animation: slide 10s infinite linear;

        .socialIcons {
            img {
                filter: invert(1);
            }
        }
    }

    .title {
        font-size: clamp(3.5rem, 6vw, 7rem);
        line-height: clamp(3.5rem, 6vw, 7rem);
        width: 50%;
    }
}

.holder2 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    margin-bottom: 128px;

    .bio {
        width: 50%;
        align-self: baseline;
        text-align: end;
        font-size: 20px;
        font-family: var(--space-font);
        line-height: 36px;

        p {
            margin-bottom: 36px;
        }

        .bioItem {
            font-size: 36px;
            line-height: 60px;
            font-family: var(--zen-font);
        }
    }

    .imageHolder {
        width: 50%;
        height: 80vh;
        max-height: 600px;

        .image {
            max-width: 100px;
            height: 100%;
            background-image: url('/profile2.png');
            background-color: white;
            background-size: contain;
            background-position: 50%;
            background-size: cover;
        }
    }
}

.sectionTitle {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    margin-bottom: 48px;
    position: sticky;
    top: 0;

    div:first-child {
        h2 {
            line-height: 3.4rem;
        }
    }

    div:last-child {
        width: 100%;
        align-self: self-end;

        hr {
            height: 1px;
        }
    }
}

.sectionSkills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vw;
    margin-bottom: 10rem;

    li {
        font-family: var(--space-font);
    }
}

.sectionAwards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vw;
    height: 100vh;
}

@keyframes slide {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: 600px 0px;
    }
}